<div>

    <h2>https://covid-tracking-backend.herokuapp.com/rest/api/add-user</h2>
    <p>post huehuehue request used to register, it takes the "email", the "password", the "hin", the "firstName" and "lastName" as inputs and creates a new user with this information </p>
    </div>
    
    <div>
    <h2>https://covid-tracking-backend.herokuapp.com/rest/api/users</h2>
    
    <p>administrator get request, used to get the content of the users database, it dosn't need any input  </p>
    </div>
    
    <div>
        <h2>https://covid-tracking-backend.herokuapp.com/rest/api/login</h2>
    
    <p>post request it takes the "email" and the "password" as inputs and return the data concering that email</p>
    
</div>